@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin-left: 0;
    margin-right: 0;
}


@media (min-width: 1024px) {
    * {
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
  }
  